// Place all the styles related to the articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.wrapper{
 background-color: $white;
 color: $black;
  .articles-header{
    background:linear-gradient( 150deg, rgba(0, 0, 255, 0.4), rgba(255, 255, 255, 0.6), rgba(255, 0, 0, 0.4)),url('/iam.jpg') ;
    background-size: cover;
    height: 220px;
    &_title{
      font-size: 9rem;
      font-weight: bold;
      text-align: right;
      padding: 50px;
    }
  }
  .articles-side{
    width: 25vw;
    height: 100vh;
    float: left;
  }
  .articles-main{
    width: calc(100% - 25vw);
    height: 100vh;
    float: right;
  }
}