// Place all the styles related to the root controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html{
  font-size: 62.5%;
  box-sizing: border-box;
}
body{
  background: $black  no-repeat fixed left bottom;
  background-size: cover;
  color:$white;
  text-align: center;
  font-size: 1.4rem;
  font-family: 'Raleway', sans-serif;
}
